.base {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  color: var(--neutral-contrast);
  width: fit-content;
  font-weight: var(--font-weight-bold);

  .icon {
    width: var(--check-size);
    height: var(--check-size);
    border-radius: calc(var(--check-radius) * 0.4);
    border: solid 2px var(--check-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: var(--check-text);
  }
}
.base[data-hover] {
  --check-bg: var(--check-hover-bg);
  .icon {
    background-color: var(--neutral-3);
  }
}
.base[data-press] {
  --check-bg: var(--check-press-bg);
}
.base[data-selected] {
  .icon {
    background-color: var(--check-bg);
    animation: selected_animated 0.15s linear;
  }
}
@keyframes selected_animated {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}
.base[data-disabled] {
  color: var(--neutral-5);
  .icon {
    --check-bg: var(--neutral-4);
    --check-text: var(--neutral-1);
    cursor: no-drop;
  }
}
.base[data-focus] {
  .icon {
    outline: 2px solid var(--primary-5);
    outline-offset: 2px;
    z-index: 1;
  }
}
.base[data-invalid] {
  --check-bg: var(--error-5);
}

/* sizes */
.sm {
  --check-size: 0.8rem;
  composes: text-1 from '../../../styles/typography.module.css';
}
.md {
  --check-size: 1rem;
  composes: text-3 from '../../../styles/typography.module.css';
}
.lg {
  --check-size: 1.3rem;
  composes: text-5 from '../../../styles/typography.module.css';
}

/* radius */
.r-none {
  --check-radius: var(--radius-none);
}
.r-sm {
  --check-radius: var(--radius-sm);
}
.r-md {
  --check-radius: var(--radius-md);
}
.r-lg {
  --check-radius: var(--radius-lg);
}
.r-full {
  --check-radius: 1.2rem;
}
/* colors */
.default {
  --check-bg: var(--neutral-5);
  --check-text: var(--default-contrast);
  --check-hover-bg: var(--neutral-6);
  --check-press-bg: var(--neutral-7);
}
.primary {
  --check-bg: var(--primary-5);
  --check-text: var(--primary-contrast);
  --check-hover-bg: var(--primary-6);
  --check-press-bg: var(--primary-7);
}
.secondary {
  --check-bg: var(--secondary-5);
  --check-text: var(--secondary-contrast);
  --check-hover-bg: var(--secondary-6);
  --check-press-bg: var(--secondary-7);
}
.error {
  --check-bg: var(--error-5);
  --check-text: var(--error-contrast);
  --check-hover-bg: var(--error-6);
  --check-press-bg: var(--error-7);
}
.warning {
  --check-bg: var(--warning-5);
  --check-text: var(--warning-contrast);
  --check-hover-bg: var(--warning-6);
  --check-press-bg: var(--warning-7);
}
.success {
  --check-bg: var(--success-5);
  --check-text: var(--success-contrast);
  --check-hover-bg: var(--success-6);
  --check-press-bg: var(--success-7);
}