.base {
  --accordion-title-color: var(--neutral-9);
  --accordion-subtitle-color: var(--neutral-8);
  --accordion-icon-color: var(--neutral-9);
  --accordion-header-bg: transparent;
}
.title {
  composes: text-3 from '../../../styles/typography.module.css';
}
.subtitle {
  composes: text-1 from '../../../styles/typography.module.css';
}

.base {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  .header {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--accordion-header-bg);
    color: var(--neutral-9);
    cursor: pointer;
    padding: var(--space-1) var(--space-2);
  
    .text {
      display: flex;
      flex-direction: column;
      align-items: start;
  
      .title {
        font-weight: 700;
        color: var(--accordion-title-color);
      }
  
      .subtitle {
        font-weight: 700;
        color:var(--accordion-subtitle-color);
      }
    }
  
    .expandIcon {
      width: 1rem;
      margin-left: auto;
      transition: rotate 0.2s;
      color: var(--accordion-icon-color);
    }
  }

  .content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease-out;
    padding: 0 var(--space-2);
  }
}

.base[data-active] {
  .header {
    .expandIcon {
      rotate: -90deg;
    }
  }
  
  .content {
    max-height: 1000px;
    transition: max-height 1s ease-in;
  }
}

.base[data-disabled] {
  --accordion-title-color: var(--neutral-4);
  --accordion-subtitle-color: var(--neutral-4);
  --accordion-icon-color: var(--neutral-4);

  .header {
    cursor: no-drop;
  }
}

.base[data-focused] {
  .header {
    outline: none;
    --accordion-header-bg: var(--neutral-4);
  }
}