.base {
  display: flex;
  width: fit-content;

  button:first-child, a:first-child, span:first-child {
    border-radius: var(--btng-radius) 0 0 var(--btng-radius);
  }
  
  button:last-child,  a:last-child, span:last-child{
    border-radius: 0 var(--btng-radius) var(--btng-radius) 0;
  }
}

.fullWidth {
  width: 100%;
}

.r-none {
  --btng-radius: var(--radius-none);
}
.r-sm {
  --btng-radius: var(--radius-sm);
}
.r-md {
  --btng-radius: var(--radius-md);
}
.r-lg {
  --btng-radius: var(--radius-lg);
}
.r-full {
  --btng-radius: var(--radius-full);
}
