.sx-textField {
  --TextField-padding-x: 10px;
  --TextField-padding-y: 0px;
  --TextField-margin-y: 1rem;
  --TextField-width: 250px;
  --TextField-height: 36px;
  --TextField-radius: var(--radius-md);
  --TextField-border-color: var(--color-gray-300);
  --TextField-bg-color: transparent;

  margin: var(--TextField-margin-y) 0;
  position: relative;
  width: var(--TextField-width);

  .sx-textField-wrapper {
    padding: var(--TextField-padding-y) var(--TextField-padding-x);
    border-radius: var(--TextField-radius);
    border: solid 1px var(--TextField-border-color);
    height: var(--TextField-height);
    background-color: var(--TextField-bg-color);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out, background 0.2s ease-out;

    .sx-textField-label {
      padding-inline: var(--TextField-padding-x);
      color: var(--color-gray-600);
      z-index: 1;
      position: absolute;
      transition: transform 0.2s ease-out, font-size 0.2s ease-out, line-height 0.2s ease-out;
      transform: translateY(0);
      left: 0;
      width: 100%;
      box-sizing: border-box;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      cursor: text;
    }

    .sx-textField-input {
      color: var(--color-gray-900);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-100);
      line-height: var(--line-height-100);
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      &::placeholder {
        color: var(--neutral-5);
      }
    }

    .sx-textField-prefix, .sx-textField-suffix  {
      font-size: var(--font-size-100);
      line-height: var(--line-height-1000);
      font-weight: var(--font-weight-medium);
      color: var(--color-gray-900);
    }
    .sx-textField-prefix {
      padding-right: 5px;
    }
    .sx-textField-suffix {
      padding-left: 5px;
    }

    .sx-textField-startContent {
      padding-right: var(--TextField-padding-x);
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-gray-500);
        width: 1px;
        height: 80%;
        position: absolute;
        top: 10%;
        right: calc(var(--TextField-padding-x)/2.5);
      }
    }
    .sx-textField-endContent {
      padding-left: var(--TextField-padding-x);
      position: relative;

      &::before {
        content: "";
        background-color: var(--color-gray-500);
        width: 1px;
        height: 80%;
        position: absolute;
        top: 10%;
        left: calc(var(--TextField-padding-x)/2.5);
      }
    }
  }

  .sx-textField-helper {
    padding: 2px var(--TextField-padding-x);
    font-size: var(--font-size-50);
    line-height: var(--line-height-50);
    width: 100%;
    color: var(--color-gray-600);
    min-height: 1rem;
  }

  &[data-focused], &[data-filled] {
    .sx-textField-label {
      transform: translateY(calc(var(--TextField-height)/-2 - 10px));    
      font-size: var(--font-size-50);
      line-height: var(--line-height-50);
      cursor: default;
    }
  }

  @media (hover:hover) {
    &:not([data-disabled], [data-focused], [data-invalid]) :where(.sx-textField-wrapper:hover) {
      --TextField-border-color: var(--color-gray-600);
    }
  }

  &[data-focused] {
    --TextField-border-color: var(--color-primary-500);
    .sx-textField-wrapper {
      box-shadow: 0 0 0 0.2rem var(--color-primary-a);
    }
    .sx-textField-label {
      color: var(--color-primary-600);
    }
  }

  &[data-disabled] {
    --TextField-border-color: var(--color-gray-300);
    .sx-textField-label, 
    .sx-textField-helper, 
    .sx-textField-input, 
    .sx-textField-prefix, .sx-textField-suffix {
      color: var(--color-gray-300);
      fill: var(--color-gray-300);
    }
    .sx-textField-endContent, .sx-textField-startContent {
      &::after, &::before {
        background-color: var(--color-gray-300);
      }
    }
    .sx-textField-input, .sx-textField-wrapper, .sx-textField-label {
      cursor: no-drop;
    }
    &[data-filled] {
      .sx-textField-label {
        cursor: default;
      }
    }
  }

  &[data-invalid] {
    --TextField-border-color: var(--color-error-500);
    .sx-textField-label, .sx-textField-helper {
      color: var(--color-error-600);
    }

    &:where([data-disabled]) {
      --TextField-border-color: var(--color-error-300);
      .sx-textField-label, .sx-textField-helper {
        color: var(--color-error-300);
      }
    }
  }
}

/*** Variant ***/
/* Filled */
.sx-textField:where(.sx-variant-filled) {
  --TextField-border-color: transparent;
  --TextField-bg-color: var(--color-gray-200);

  @media (hover:hover) {
    &:not([data-disabled], [data-focused], [data-invalid]) {
      :where(.sx-textField-wrapper:hover) {
        --TextField-border-color: transparent;
        --TextField-bg-color: var(--color-gray-300);
      }
    }
  }

  &[data-disabled] {
    --TextField-border-color: transparent;
    .sx-textField-input {
      color: var(--color-gray-500)
    }
  }

  &[data-focused] {
    --TextField-bg-color: var(--color-gray-300);
  }
}

/* Light */
.sx-textField:where(.sx-variant-light) {

  .sx-textField-wrapper {
    border-radius: 0;
    background-color: transparent;
    border-width: 0px;
    border-bottom-width: 1px;

    .sx-textField-startContent, .sx-textField-endContent {
      &::after, &::before {
        background-color: transparent;
      }
    }
  }

  &[data-focused] .sx-textField-wrapper {
    box-shadow: inset 0 -0.2rem 0px -1px var(--color-primary-a);
  }
} 

/*** sizes ***/
.sx-textField:where(.sx-size-sm) {
  --TextField-height: 28px;
  --TextField-margin-y: 1rem;
}
.sx-textField:where(.sx-size-md) {
  --TextField-height: 36px;
  --TextField-margin-y: 1.1rem;
}
.sx-textField:where(.sx-size-lg) {
  --TextField-height: 42px;
  --TextField-margin-y: 1.2rem;
}

/*** radius ***/
.sx-radius-none {
  --TextField-radius: none;
}
.sx-radius-sm {
  --TextField-radius: var(--radius-sm);
}
.sx-radius-md {
  --TextField-radius: var(--radius-md);
}
.sx-radius-lg {
  --TextField-radius: var(--radius-lg);
}
.sx-radius-xl {
  --TextField-radius: var(--radius-xl);
}
.sx-radius-full {
  --TextField-radius: var(--radius-full);
}