:root {
  --radius-none: 0;      /* none */
  --radius-sm: .25rem;    /* 4px */
  --radius-md: .375rem;   /* 6px */
  --radius-lg: .5rem;  /* 8px */
  --radius-xl: .75rem; /* 12px */
  --radius-full: 9999px; /* full */
}