.base {
  width: var(--btnIcon-scale);
  height: var(--btnIcon-scale);
  background-color: var(--btnIcon-bg);
  padding: var(--btnIcon-padding);
  border: 2px solid var(--btnIcon-bg);
  border-radius: var(--btnIcon-radius);
  margin: 0;
  scale: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.base:not(:disabled) {
  transition: background .13s, border .13s; 
}
.base[data-focus] {
  outline: 2px solid var(--btnIcon-focus);
  outline-offset: 2px;
  z-index: 1;
}
.base:disabled {
  background-color: var(--btnIcon-disabled-bg);
  border-color: var(--btnIcon-disabled-border);
  color: var(--btnIcon-disabled-text);
  cursor: no-drop;
}

/*****************/
/**** variant ****/
/*****************/
.solid {
  background-color: var(--btnIcon-solid-bg);
  border-color: var(--btnIcon-solid-bg);
  color: var(--btnIcon-solid-text);
  --btnIcon-disabled-bg: var(--neutral-3);
  --btnIcon-disabled-border: var(--neutral-3);
  --btnIcon-disabled-text: var(--neutral-4);
}
.solid[data-hover] {
  background-color: var(--btnIcon-solid-bg-hover);
  border-color: var(--btnIcon-solid-bg-hover);
}
.solid[data-press] {
  background-color: var(--btnIcon-solid-bg-press);
  border-color: var(--btnIcon-solid-bg-press);
}

.outline {
  background-color: transparent;
  border-color: var(--btnIcon-solid-bg);
  color: var(--btnIcon-flat-text);
  --btnIcon-disabled-bg: transparent;
  --btnIcon-disabled-border: var(--neutral-3);
  --btnIcon-disabled-text: var(--neutral-4);
}
.outline[data-hover] {
  background-color: var(--btnIcon-flat-bg-hover);
}
.outline[data-press] {
  background-color: var(--btnIcon-flat-bg-press);
}

.light {
  background-color: transparent;
  border-color: transparent;
  color: var(--btnIcon-flat-text);
  --btn-disabled-bg: transparent;
  --btn-disabled-border: transparent;
  --btn-disabled-text: var(--neutral-4);
}
.light[data-hover] {
  background-color: var(--btnIcon-flat-bg-hover);
}
.light[data-press] {
  background-color: var(--btnIcon-flat-bg-press);
}

/****************/
/**** radius ****/
/****************/
.r-none {
  --btnIcon-radius: var(--radius-none);
}
.r-sm {
  --btnIcon-radius: var(--radius-sm);
}
.r-md {
  --btnIcon-radius: var(--radius-md);
}
.r-lg {
  --btnIcon-radius: var(--radius-lg);
}
.r-full {
  --btnIcon-radius: var(--radius-full);
}

/****************/
/***** size *****/
/****************/
.sm {
  --btnIcon-scale: 2rem;
  --btnIcon-padding: var(--space-2);
  composes: text-1 from '../../../styles/typography.module.css';
}
.md {
  --btnIcon-scale: 2.8rem;
  --btnIcon-padding: var(--space-3);
  composes: text-3 from '../../../styles/typography.module.css';
}
.lg {
  --btnIcon-scale: 3.6rem;
  --btnIcon-padding: var(--space-3);
  composes: text-5 from '../../../styles/typography.module.css';
}

/****************/
/**** colors ****/
/****************/
.default {
  --btnIcon-solid-bg: var(--neutral-5);
  --btnIcon-solid-text: var(--neutral-contrast);
  --btnIcon-solid-bg-hover: var(--neutral-6);
  --btnIcon-solid-bg-press: var(--neutral-7);
  --btnIcon-flat-bg: var(--neutral-5-a);
  --btnIcon-flat-bg-hover: var(--neutral-6-a);
  --btnIcon-flat-bg-press: var(--neutral-7-a);
  --btnIcon-flat-text: var(--neutral-contrast);
}
.primary {
  --btnIcon-solid-bg: var(--primary-5);
  --btnIcon-solid-text: var(--primary-contrast);
  --btnIcon-solid-bg-hover: var(--primary-6);
  --btnIcon-solid-bg-press: var(--primary-7);
  --btnIcon-flat-bg: var(--primary-5-a);
  --btnIcon-flat-bg-hover: var(--primary-6-a);
  --btnIcon-flat-bg-press: var(--primary-7-a);
  --btnIcon-flat-text: var(--primary-8);
}
.secondary {
  --btnIcon-solid-bg: var(--secondary-5);
  --btnIcon-solid-text: var(--secondary-contrast);
  --btnIcon-solid-bg-hover: var(--secondary-6);
  --btnIcon-solid-bg-press: var(--secondary-7);
  --btnIcon-flat-bg: var(--secondary-5-a);
  --btnIcon-flat-bg-hover: var(--secondary-6-a);
  --btnIcon-flat-bg-press: var(--secondary-7-a);
  --btnIcon-flat-text: var(--secondary-8);
}
.success {
  --btnIcon-solid-bg: var(--success-5);
  --btnIcon-solid-text: var(--success-contrast);
  --btnIcon-solid-bg-hover: var(--success-6);
  --btnIcon-solid-bg-press: var(--success-7);
  --btnIcon-flat-bg: var(--success-5-a);
  --btnIcon-flat-bg-hover: var(--success-6-a);
  --btnIcon-flat-bg-press: var(--success-7-a);
  --btnIcon-flat-text: var(--success-8);
}
.warning {
  --btnIcon-solid-bg: var(--warning-5);
  --btnIcon-solid-text: var(--warning-contrast);
  --btnIcon-solid-bg-hover: var(--warning-6);
  --btnIcon-solid-bg-press: var(--warning-7);
  --btnIcon-flat-bg: var(--warning-5-a);
  --btnIcon-flat-bg-hover: var(--warning-6-a);
  --btnIcon-flat-bg-press: var(--warning-7-a);
  --btnIcon-flat-text: var(--warning-8);
}
.error {
  --btnIcon-solid-bg: var(--error-5);
  --btnIcon-solid-text: var(--error-contrast);
  --btnIcon-solid-bg-hover: var(--error-6);
  --btnIcon-solid-bg-press: var(--error-7);
  --btnIcon-flat-bg: var(--error-5-a);
  --btnIcon-flat-bg-hover: var(--error-6-a);
  --btnIcon-flat-bg-press: var(--error-7-a);
  --btnIcon-flat-text: var(--error-5);
}